<div class="mainContent" align="center">
    <div style="font-family: 'Heiti SC';font-size: 22px;padding:10px 0 0 30px;" align="left">
        出售中的商品
    </div>
    <div style="height: 480px;width: 100%;margin-bottom: 20px">
        {volist name="goods" id="list" key="k"}
        <div style="width: 17%;height: 225px;float: left;background-color: white;margin-top:20px;margin-left: 25px; ">
            <div style="height: 75%;width: 100%;border: coral 0px solid">
                <a href="__ROOT__/index/Seller/sellerCenter?goodsid={$list.goodsid}">
                    <img src="{$list.goodsimg}" width="150px" height="150px">
                </a>
            </div>
            <div style="width: 100%;height: 25%;border-top: #f0f0f0 1px solid;">
                <div style="height: 50%;width: 100%;line-height: 40px;vertical-align: middle;">
                    <font style="font-family: STHeiti;font-size: 15px;font-weight: 600">
                        <a href="" style="color: #000000;">
                            {$list.goodsname}
                        </a>
                    </font>
                </div>
                <div style="height: 50%;width: 100%;line-height: 30px;vertical-align: middle;">
                    <font style="font-family: STHeiti;font-size: 15px;color: crimson;">
                        ¥{$list.price}
                    </font>
                </div>
            </div>
        </div>
        {/volist}
    </div>
    <div style="width: 100%;height:100px;" align="center">
        {$page}
    </div>
</div>