<div style="width: 70%;height: 1150px;float: left;margin-left: 1%;margin-top:3%;border: #282828 1px solid;background: rgba(200,200,200,0.1);">
    <div style="font-family: 'Heiti SC';font-size: 22px;padding:10px 0 0 30px;">
        发布商品
    </div>

    <form method="post" action="{:url('Goods/issueGoods')}" role="form" class="form-horizontal"
          enctype="multipart/form-data" id="issue-form" onsubmit="return checkForm()">
        <div style="width: 100%;height: 250px;margin-top: 1%;border: lightblue 0px solid;">
            <div style="width: 30%;height: 70%;border: lightcoral 0px solid;float: left;" align="center">
                <div style="margin-top: 40px">
                    <span class="glyphicon glyphicon-pencil" style="font-size: 70px"></span>
                </div>
                <div style="font-family: 'Heiti SC';font-size: 20px;margin-top: 15px">
                    商品名称
                </div>
                <div style="width: 65%;margin-top: 60px;">
                    <input type="text" name="goodsName" id="goodsName" placeholder="请输入商品名称"
                           class="form-control"/>
                </div>
            </div>
            <div style="width: 5%;height: 70%;float: left;border: lightblue 0px solid;line-height: 300px;vertical-align: middle;">
                <span class="glyphicon glyphicon-chevron-right" style="font-size: 25px;"></span>
            </div>
            <div style="width: 30%;height: 70%;border: lightcoral 0px solid;float: left;" align="center">
                <div style="margin-top: 40px">
                    <span class="glyphicon glyphicon-th" style="font-size: 70px"></span>
                </div>
                <div style="font-family: 'Heiti SC';font-size: 20px;margin-top: 15px">
                    商品类型
                </div>
                <div style="width: 65%;margin-top: 60px;">
                    <select class="form-control" name="type">

                        <option>女装</option>
                        <option>男装</option>
                        <option>内衣</option>
                        <option>箱包</option>
                        <option>鞋</option>
                        <option>配件</option>
                        <option>童装玩具</option>
                        <option>孕产用品</option>
                        <option>乐器</option>
                        <option>家电</option>
                        <option>数码</option>
                        <option>手机</option>
                        <option>美妆</option>
                        <option>洗护</option>
                        <option>保健品</option>
                        <option>珠宝</option>
                        <option>眼镜</option>
                        <option>手表</option>
                        <option>运动</option>
                        <option>户外</option>
                        <option>家具</option>
                        <option>美食</option>
                        <option>生鲜</option>
                        <option>零食</option>
                        <option>办公</option>
                        <option>DIY</option>
                        <option>五金电子</option>
                        <option>百货</option>
                        <option>餐厨</option>
                        <option>家庭保健</option>
                        <option>电玩</option>
                        <option>动漫</option>
                        <option>电子竞技</option>
                        <option>汽车</option>
                        <option>二手车</option>
                        <option>汽车用品</option>
                        <option>鲜花</option>
                        <option>宠物</option>
                        <option>农资</option>
                    </select>
                </div>
            </div>
            <div style="width: 5%;height: 70%;float: left;border: lightblue 0px solid;line-height: 300px;vertical-align: middle;">
                <span class="glyphicon glyphicon-chevron-right" style="font-size: 25px;"></span>
            </div>
            <div style="width: 30%;height: 70%;border: lightcoral 0px solid;float: left;" align="center">
                <div style="margin-top: 40px">
                    <span class="glyphicon glyphicon-picture" style="font-size: 70px"></span>
                </div>
                <div style="font-family: 'Heiti SC';font-size: 20px;margin-top: 15px">
                    商品图片
                </div>
                <div class="form-group" style="width: 65%;margin-top: 60px;">
                    <input type="file" name="file" id="file">
                </div>
            </div>
        </div>
        <div style="width: 100%;height: 250px;border-top: gray 1px solid;margin-top: 30px;">

            <div style="width: 30%;height: 70%;border: lightcoral 0px solid;float: left;" align="center">
                <div style="margin-top: 80px">
                    <span class="glyphicon glyphicon-book" style="font-size: 70px"></span>
                </div>
                <div style="font-family: 'Heiti SC';font-size: 20px;margin-top: 15px">
                    商品简介
                </div>
            </div>
            <div style="width: 5%;height: 70%;float: left;border: lightblue 0px solid;line-height: 300px;vertical-align: middle;">
                <span class="glyphicon glyphicon-chevron-right" style="font-size: 25px;"></span>
            </div>

            <div style="width: 60%;height: 35%;float: left;margin-top: 50px;" align="center">
                <div style="width: 75%;">
                    <textarea class="form-control" rows="9" name="goodsIntroduction"></textarea>
                </div>
            </div>

        </div>
        <div style="width: 100%;height: 250px;border-top: gray 1px solid;margin-top: 30px;">
            <div style="width: 30%;height: 70%;border: lightcoral 0px solid;float: left;" align="center">
                <div style="margin-top: 80px">
                    <span class="glyphicon glyphicon-th-list" style="font-size: 70px"></span>
                </div>
                <div style="font-family: 'Heiti SC';font-size: 20px;margin-top: 15px">
                    商品属性
                </div>
            </div>
            <div style="width: 5%;height: 70%;float: left;border: lightblue 0px solid;line-height: 300px;vertical-align: middle;">
                <span class="glyphicon glyphicon-chevron-right" style="font-size: 25px;"></span>
            </div>
            <div id="inputdiv" style="width: 60%;height: 100%;float: left;" align="center">
                <div style="width: 80%;height: 100%;overflow-y: auto;margin-top: 20px;"
                     id="classify">
                    <input type="text" name="goodsClassify1" id="goodsClassify1" placeholder="请输入商品分类"
                           class="form-control classify-name">
                    <input type="number" name="goodsClassifyPrice1" id="goodsClassifyprice1" placeholder="请输入分类价格"
                           class="form-control classify-price" min="0"/>
                    <button onclick="addGoodsClassify()" type="button" id="append" class="btn-default btn" style="margin-top: 10px;">
                        <span class="glyphicon glyphicon-plus" style="font-size: 18px;"></span>
                    </button>
                </div>
                <script>
                    var count = 1;

                    function addGoodsClassify() {
                        count++;
                        append = document.getElementById('append');

                        classify_div = document.getElementById('classify');
                        classify = document.createElement("input");
                        classify.name = "goodsClassify" + count;
                        classify.type = "text";
                        classify.id = "goodsClassify" + count;
                        classify.placeholder = "请输入分类名称";
                        classify.className = "form-control classify-name";
                        classify_div.insertBefore(classify, append);

                        classify_price = document.createElement("input");
                        classify_price.name = "goodsClassifyPrice" + count;
                        classify_price.type = "number";
                        classify_price.id = "goodsClassifyPrice" + count;
                        classify_price.placeholder = "请输入分类价格";
                        classify_price.className = "form-control classify-price";
                        classify_price.min = 0;
                        classify_div.insertBefore(classify_price, append);
                    }
                </script>
            </div>
        </div>
        <div style="width: 100%;height: 250px;border-top: gray 1px solid;margin-top: 30px;">
            <div style="width: 100%;height: 100%;border: lightcoral 0px solid;float: left;margin-top: 60px" align="center">
                <div style="margin-top: 0px">
                    <span class="glyphicon glyphicon-ok" style="font-size: 70px"></span>
                </div>
                <div class="form-group" style="width: 60%;margin-top: 40px;">
                    <button type="submit" class="btn btn-default">发布商品</button>
                </div>
            </div>
        </div>
    </form>
</div>
