<div style="width: 70%;height: 530px;float: left;margin-top:5%;">
    <div class="container" style="width: 80%">
        <div class="jumbotron">
            <h1 >
                欢迎来到卖家中心！
            </h1>
            <p >
                您的店铺"{$shopname}"已经开业{$shopage}天啦！
            </p>
            <p >
                在{$shopage}天里，您的店铺商品共有{$click}次点击量,
            </p>
            <p >
                您的店铺共有{$goodscount}件商品，
            </p>
            <p >
                一共收到了条评价，
            </p>
            <p >
                再接再厉！
            </p>
        </div>
    </div>
</div>