<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="__STATIC__/js/jquery-3.3.1.min.js"></script>
    <script src="__STATIC__/css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="__STATIC__/js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript"
            src="__STATIC__/js/ueditor/ueditor.all.js"></script>
<!--    <script>-->
<!--        $(function () {-->
<!--            $("#myCarousel").carousel('cycle');-->
<!--            $('[data-toggle="popover"]').popover({-->
<!--                delay: {hide: 1000},-->
<!--                html: true,-->
<!--                trigger: "hover"-->
<!--            })-->
<!--        })-->
<!--    </script>-->
    {css href="/static/css/public.css"}
</head>
<body style="background-color: #fbfbfb;">
<div id="head">
    {include file="public/head"}
</div>
<div id="main">
    {include file="public/nav"}
    <ol class="breadcrumb" style="background-color: #fbfbfb;margin-left: 10%">
        <li><a href="{:url('index/Index/index')}" style="color: #1b1b1b">首页</a></li>
        {eq name="$come" value="商品分类"}
        <li class="dropdown"><a href="#" style="color: #1b1b1b" class="dropdown-toggle" data-toggle="dropdown">商品分类</a>
            <ul class="dropdown-menu" style="width: 240px;">
                {include file="public/classify"}
            </ul>
        </li>
        <li class="active">{$classify}</li>
        {/eq}
        {eq name="$come" value="商品搜索"}
        <li>商品搜索</li>
        <li class="active">{$searchword}</li>
        {/eq}
        {eq name="$come" value="店铺商品"}
        <li>店铺商品</li>
        <li class="active">{$shopname}</li>
        {/eq}
    </ol>
    <div style="width: 100%;" align="center">
        {include file="goods/goods_list"}
    </div>
    <div style="width: 100%;" align="center">
        {$page}
    </div>
</div>
<div id="footer"></div>
{include file="modal/modal_login"}
{include file="chat/modal_chat"}
</body>
</html>