<div style="height: 45px;width: 100%;line-height:45px;vertical-align: middle;background-color: #404040;"
     align="center">
    <font style="color: whitesmoke">服务中心</font>
</div>
<div style="height: 305px;">
    <a href="" style="color: #707070">
        <div align="center" class="hoverbg">
            <br><big><big><big><span class="glyphicon glyphicon-phone"></span></big></big></big><br>
            <font>充话费</font>
        </div>
    </a>
    <a href="" style="color: #707070">
        <div align="center" class="hoverbg">
            <br><big><big><big><span class="glyphicon glyphicon-film"></span></big></big></big><br>

            <font>电影票</font>
        </div>
    </a>
    <a href="" style="color: #707070">
        <div align="center" class="hoverbg">
            <br><big><big><big><span class="glyphicon glyphicon-globe"></span></big></big></big><br>

            <font>旅行</font>
        </div>
    </a>
    <a href="" style="color: #707070">
        <div align="center" class="hoverbg">
            <br><big><big><big><span class="glyphicon glyphicon-earphone"></span></big></big></big><br>

            <font>游戏</font>
        </div>
    </a>
    <a href="" style="color: #707070">
        <div align="center" class="hoverbg">
            <br><big><big><big><span class="glyphicon glyphicon-cutlery"></span></big></big></big><br>

            <font>餐饮</font>
        </div>
    </a>
    <a href="" style="color: #707070">
        <div align="center" class="hoverbg">
            <br><big><big><big><span class="glyphicon glyphicon-home"></span></big></big></big><br>

            <font>酒店</font>
        </div>
    </a>
    <a href="" style="color: #707070">
        <div align="center" class="hoverbg">
            <br><big><big><big><span class="glyphicon glyphicon-headphones"></span></big></big></big><br>

            <font>演出</font>
        </div>
    </a>
    <a href="" style="color: #707070">
        <div align="center" class="hoverbg">
            <br><big><big><big><span class="glyphicon glyphicon-flash"></span></big></big></big><br>

            <font>水电煤</font>
        </div>
    </a>
    <a href="{:url('Exam/index')}" style="color: #707070">
        <div align="center" class="hoverbg">
            <br><big><big><big><span class="glyphicon glyphicon-road"></span></big></big></big><br>

            <font>考试</font>
        </div>
    </a>
    <a href="" style="color: #707070">
        <div align="center" class="hoverbg">
            <br><big><big><big><span class="glyphicon glyphicon-map-marker"></span></big></big></big><br>

            <font>附近</font>
        </div>
    </a>
    <a href="" style="color: #707070">
        <div align="center" class="hoverbg">
            <br><big><big><big><span class="glyphicon glyphicon-credit-card"></span></big></big></big><br>

            <font>信用卡服务</font>
        </div>
    </a>
    <a href="" style="color: #707070">
        <div align="center" class="hoverbg">
            <br><big><big><big><span class="glyphicon glyphicon-usd	"></span></big></big></big><br>

            <font>投资理财</font>
        </div>
    </a>
</div>