<div class="recomme">
    <div class="recomme-title">
        <font style="font-family: STHeiti;font-size: 30px;font-weight: 700">人气推荐</font>
    </div>
    <div class="recomme-left">
        <div class="recomme-left-img">
            <a href="{:url('index/goods/goods?goodsid=3')}">
                <img src="__STATIC__/goodImg/1.png" height="320px" width="320px">
            </a>
        </div>
        <div class="recomme-left-info-area">
            <font class="recomme-left-name">
                <a href="{:url('index/goods/goods?goodsid=3')}">
                    超静音变频直流风扇
                </a>
            </font><br>
            <font class="recomme-left-price">
                ¥799
            </font>
        </div>
    </div>
    <div class="recomme-right">
        <div class="recomme-right-good-box">
            <div class="recomme-right-img">
                <a href="{:url('index/goods/goods?goodsid=2')}">
                    <img src="__STATIC__/goodimg/2.png" width="150px" height="150px" style="margin-top: 10%;">
                </a>
            </div>
            <div class="recomme-right-info-area">
                <div class="recomme-right-name-area">
                    <font>
                        <a href="{:url('index/goods/goods?goodsid=2')}" style="color: #000000;">
                            超级厉害的小风扇
                        </a>
                    </font>
                </div>
                <div class="recomme-right-price-area">
                    <font>
                        ¥59
                    </font>
                </div>
            </div>
        </div>
        <div class="recomme-right-good-box">
            <div class="recomme-right-img">
                <a href="{:url('index/goods/goods?goodsid=4')}">
                    <img src="__STATIC__/goodImg/3.png" width="150px" height="150px" style="margin-top: 10%;">
                </a>
            </div>
            <div class="recomme-right-info-area">
                <div class="recomme-right-name-area">
                    <font>
                        <a href="{:url('index/goods/goods?goodsid=4')}" style="color: #000000;">
                            超级厉害的小坚果
                        </a>
                    </font>
                </div>
                <div class="recomme-right-price-area">
                    <font>
                        ¥59
                    </font>
                </div>
            </div>
        </div>
        <div class="recomme-right-good-box">
            <div class="recomme-right-img">
                <a href="{:url('index/goods/goods?goodsid=5')}">
                    <img src="__STATIC__/goodImg/4.png" width="150px" height="150px" style="margin-top: 10%;">
                </a>
            </div>
            <div class="recomme-right-info-area">
                <div class="recomme-right-name-area">
                    <font>
                        <a href="{:url('index/goods/goods?goodsid=5')}" style="color: #000000;">
                            超级厉害的小燕窝
                        </a>
                    </font>
                </div>
                <div class="recomme-right-price-area">
                    <font>
                        ¥399
                    </font>
                </div>
            </div>
        </div>
        <div class="recomme-right-good-box">
            <div class="recomme-right-img">
                <a href="{:url('index/goods/goods?goodsid=37')}">
                    <img src="__STATIC__/goodImg/5.png" width="150px" height="150px" style="margin-top: 10%;">
                </a>
            </div>
            <div class="recomme-right-info-area">
                <div class="recomme-right-name-area">
                    <font>
                        <a href="{:url('index/goods/goods?goodsid=37')}" style="color: #000000;">
                            超级厉害的行李箱
                        </a>
                    </font>
                </div>
                <div class="recomme-right-price-area">
                    <font>
                        ¥399
                    </font>
                </div>
            </div>
        </div>
        <div class="recomme-right-good-box">
            <div class="recomme-right-img">
                <a href="{:url('index/goods/goods?goodsid=7')}">
                    <img src="__STATIC__/goodImg/6.png" width="150px" height="150px" style="margin-top: 10%;">
                </a>
            </div>
            <div class="recomme-right-info-area">
                <div class="recomme-right-name-area">
                    <font>
                        <a href="{:url('index/goods/goods?goodsid=7')}" style="color: #000000;">
                            超级厉害的牛奶君
                        </a>
                    </font>
                </div>
                <div class="recomme-right-price-area">
                    <font>
                        ¥59
                    </font>
                </div>
            </div>
        </div>
        <div class="recomme-right-good-box">
            <div class="recomme-right-img">
                <a href="{:url('index/goods/goods?goodsid=8')}">
                    <img src="__STATIC__/goodImg/7.png" width="150px" height="150px" style="margin-top: 10%;">
                </a>
            </div>
            <div class="recomme-right-info-area">
                <div class="recomme-right-name-area">
                    <font>
                        <a href="{:url('index/goods/goods?goodsid=8')}" style="color: #000000;">
                            超级厉害的电动牙刷
                        </a>
                    </font>
                </div>
                <div class="recomme-right-price-area">
                    <font>
                        ¥199
                    </font>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    a {
        color: #000000;
    }

    .recomme {
        width: 1200px;
        height: 100%;
        border: #f0f0f0 0px solid;
        min-width: 1000px;
    }

    .recomme-title {
        width: 1200px;
        height: 60px;
        text-align: left;
        padding-top: 10px;
    }

    .recomme-left {
        width: 380px;
        height: 75%;
        float: left;
        background-color: #fafafa;
    }

    .recomme-left-img {
        height: 420px;
        width: 380px;
        line-height: 400px;
        vertical-align: middle;
    }

    .recomme-left-info-area {
        height: 105px;
        width: 380px;
    }

    .recomme-left-name {
        font-family: STHeiti;
        font-size: 20px;
        font-weight: 700;
    }

    .recomme-left-price {
        font-family: STHeiti;
        font-size: 20px;
        font-weight: 800;
        color: crimson;
    }

    .recomme-right {
        width: 820px;
        height: 100%;
        float: left;
    }

    .recomme-right-good-box {
        width: 260px;
        height: 37%;
        float: left;
        background-color: #fafafa;
        margin-bottom: 7px;
        margin-left: 10px;
    }

    .recomme-right-img {
        height: 75%;
        width: 100%;
    }

    .recomme-right-info-area {
        width: 100%;
        height: 25%;
        border-top: #f0f0f0 1px solid;
    }

    .recomme-right-name-area {
        height: 50%;
        width: 100%;
        line-height: 40px;
        vertical-align: middle;
    }

    .recomme-right-name-area font {
        font-family: STHeiti;
        font-size: 15px;
        font-weight: 600;
    }

    .recomme-right-price-area {
        height: 50%;
        width: 100%;
        line-height: 30px;
        vertical-align: middle;
    }

    .recomme-right-price-area font {
        font-family: STHeiti;
        font-size: 15px;
        color: crimson;
    }
</style>