<div style="width: 80%;height:100%;border: #f0f0f0 0px solid;min-width: 1000px;">
    <div style="width: 100%;height: 7%;"></div>
    <div style="width: 98%;height: 9%;" align="left">
        <font style="font-family: STHeiti;font-size: 30px;font-weight: 700">人气推荐</font>
    </div>
    <div style="width: 33%;height: 75%;border: blue 0px solid;float: left;background-color: #fafafa;margin-left: 1%;">
        <div style="height: 80%;width: 100%;border: yellowgreen 0px solid;line-height: 400px;vertical-align: middle;">
            <a href="{:url('index/goods/goods?goodsid=3')}">
                <img src="__STATIC__/goodImg/1.png" height="320px" width="320px">
            </a>
        </div>
        <div style="height: 20%;width: 100%;border-top: #f0f0f0 1px solid">
            <div style="margin-top: 20px;">
                <font style="font-family: STHeiti;font-size: 20px;font-weight: 700;">
                    <a href="{:url('index/goods/goods?goodsid=3')}" style="color: #000000;">
                        超静音变频直流风扇
                    </a>
                </font><br>
                <font style="font-family: STHeiti;font-size: 20px;font-weight: 800;color: crimson;">
                    ¥799
                </font>
            </div>
        </div>
    </div>
    <div style="width: 21%;height: 37%;float: left;background-color: #fafafa;margin-bottom:7px;margin-left: 10px; ">
        <div style="height: 75%;width: 100%;border: coral 0px solid">
            <a href="{:url('index/goods/goods?goodsid=2')}">
                <img src="__STATIC__/goodimg/2.png" width="150px" height="150px" style="margin-top: 10%;">
            </a>
        </div>
        <div style="width: 100%;height: 25%;border-top: #f0f0f0 1px solid;">
            <div style="height: 50%;width: 100%;line-height: 40px;vertical-align: middle;">
                <font style="font-family: STHeiti;font-size: 15px;font-weight: 600">
                    <a href="{:url('index/goods/goods?goodsid=2')}" style="color: #000000;">
                        超级厉害的小风扇
                    </a>
                </font>
            </div>
            <div style="height: 50%;width: 100%;line-height: 30px;vertical-align: middle;">
                <font style="font-family: STHeiti;font-size: 15px;color: crimson;">
                    ¥59
                </font>
            </div>
        </div>
    </div>
    <div style="width: 21%;height: 37%;float: left;background-color: #fafafa;margin-bottom:7px;margin-left: 10px; ">
        <div style="height: 75%;width: 100%;border: coral 0px solid">
            <a href="{:url('index/goods/goods?goodsid=4')}">
                <img src="__STATIC__/goodImg/3.png"  width="150px" height="150px" style="margin-top: 10%;">
            </a>
        </div>
        <div style="width: 100%;height: 25%;border-top: #f0f0f0 1px solid;">
            <div style="height: 50%;width: 100%;line-height: 40px;vertical-align: middle;">
                <font style="font-family: STHeiti;font-size: 15px;font-weight: 600">
                    <a href="{:url('index/goods/goods?goodsid=4')}" style="color: #000000;">
                        超级厉害的小坚果
                    </a>
                </font>
            </div>
            <div style="height: 50%;width: 100%;line-height: 30px;vertical-align: middle;">
                <font style="font-family: STHeiti;font-size: 15px;color: crimson;">
                    ¥59
                </font>
            </div>
        </div>
    </div>
    <div style="width: 21%;height: 37%;float: left;background-color: #fafafa;margin-bottom:7px;margin-left: 10px; ">
        <div style="height: 75%;width: 100%;border: coral 0px solid">
            <a href="{:url('index/goods/goods?goodsid=5')}">
                <img src="__STATIC__/goodImg/4.png"  width="150px" height="150px" style="margin-top: 10%;">
            </a>
        </div>
        <div style="width: 100%;height: 25%;border-top: #f0f0f0 1px solid;">
            <div style="height: 50%;width: 100%;line-height: 40px;vertical-align: middle;">
                <font style="font-family: STHeiti;font-size: 15px;font-weight: 600">
                    <a href="{:url('index/goods/goods?goodsid=5')}" style="color: #000000;">
                        超级厉害的小燕窝
                    </a>
                </font>
            </div>
            <div style="height: 50%;width: 100%;line-height: 30px;vertical-align: middle;">
                <font style="font-family: STHeiti;font-size: 15px;color: crimson;">
                    ¥399
                </font>
            </div>
        </div>
    </div>
    <div style="width: 21%;height: 37%;float: left;background-color: #fafafa;margin-bottom:7px;margin-left: 10px; ">
        <div style="height: 75%;width: 100%;border: coral 0px solid">
            <a href="{:url('index/goods/goods?goodsid=37')}">
                <img src="__STATIC__/goodImg/5.png"  width="150px" height="150px" style="margin-top: 10%;">
            </a>
        </div>
        <div style="width: 100%;height: 25%;border-top: #f0f0f0 1px solid;">
            <div style="height: 50%;width: 100%;line-height: 40px;vertical-align: middle;">
                <font style="font-family: STHeiti;font-size: 15px;font-weight: 600">
                    <a href="{:url('index/goods/goods?goodsid=37')}" style="color: #000000;">
                        超级厉害的行李箱
                    </a>
                </font>
            </div>
            <div style="height: 50%;width: 100%;line-height: 30px;vertical-align: middle;">
                <font style="font-family: STHeiti;font-size: 15px;color: crimson;">
                    ¥399
                </font>
            </div>
        </div>
    </div>
    <div style="width: 21%;height: 37%;float: left;background-color: #fafafa;margin-bottom:7px;margin-left: 10px; ">
        <div style="height: 75%;width: 100%;border: coral 0px solid">
            <a href="{:url('index/goods/goods?goodsid=7')}">
                <img src="__STATIC__/goodImg/6.png"  width="150px" height="150px" style="margin-top: 10%;">
            </a>
        </div>
        <div style="width: 100%;height: 25%;border-top: #f0f0f0 1px solid;">
            <div style="height: 50%;width: 100%;line-height: 40px;vertical-align: middle;">
                <font style="font-family: STHeiti;font-size: 15px;font-weight: 600">
                    <a href="{:url('index/goods/goods?goodsid=7')}" style="color: #000000;">
                        超级厉害的牛奶君
                    </a>
                </font>
            </div>
            <div style="height: 50%;width: 100%;line-height: 30px;vertical-align: middle;">
                <font style="font-family: STHeiti;font-size: 15px;color: crimson;">
                    ¥59
                </font>
            </div>
        </div>
    </div>
    <div style="width: 21%;height: 37%;float: left;background-color: #fafafa;margin-bottom:7px;margin-left: 10px; ">
        <div style="height: 75%;width: 100%;border: coral 0px solid">
            <a href="{:url('index/goods/goods?goodsid=8')}">
                <img src="__STATIC__/goodImg/7.png"  width="150px" height="150px" style="margin-top: 10%;">
            </a>
        </div>
        <div style="width: 100%;height: 25%;border-top: #f0f0f0 1px solid;">
            <div style="height: 50%;width: 100%;line-height: 40px;vertical-align: middle;">
                <font style="font-family: STHeiti;font-size: 15px;font-weight: 600">
                    <a href="{:url('index/goods/goods?goodsid=8')}" style="color: #000000;">
                        超级厉害的电动牙刷
                    </a>
                </font>
            </div>
            <div style="height: 50%;width: 100%;line-height: 30px;vertical-align: middle;">
                <font style="font-family: STHeiti;font-size: 15px;color: crimson;">
                    ¥199
                </font>
            </div>
        </div>
    </div>
</div>